{% if profile.indicators -%}
<div class="part">
    <div class="part-title">
        indicators
    </div>
    {%- if norm.indicators %}
    {%- for indicator in norm.indicators %}
    <div class="sub-part">
        {%- if profile.indicators.identifier or profile.indicators.title %}
        <div class="indicator-title">
            {% if profile.indicators.identifier -%}
            {{ indicator.identifier }}
            {%- endif %} {% if profile.indicators.title -%}
            {{ indicator.title[language] }}
            {%- endif %}
        </div>
        {%- endif %}
        {%- if profile.indicators.description %}
        {{ indicator.description[language] }}
        {%- endif %}
        {%- if profile.indicators.conformities %}
        <div class="sub-sub-part">
            <div class="sub-sub-part-title">
                Conformity indicators
            </div>
            {%- if indicator.conformities %}
            <table>
                {%- for conformity in indicator.conformities %}
                <tr>
                    <td>
                        {%- if profile.indicators.identifier -%}
                        {{ indicator.identifier }}
                        {%- endif -%}
                        {%- if profile.indicators.identifier and profile.indicators.conformities.identifier -%}
                        /
                        {%- endif -%}
                        {%- if profile.indicators.conformities.identifier -%}
                        {{ conformity.identifier }}
                        {%- endif -%}
                    </td>
                    <td>
                        {%- if profile.indicators.conformities.description %}
                        {{ conformity.description[language] }}
                        {%- endif %}
                    </td>
                </tr>
                {%- if profile.indicators.conformities.guidance %}
                {%- if conformity.guidance[language] %}
                <tr>
                    <td></td>
                    <td>
                        <em>{{ conformity.guidance[language] }}</em>
                    </td>
                </tr>
                {%- endif %}
                {%- endif %}
                {%- endfor %}
            </table>
            {%- endif %}
        </div>
        {%- endif %}
        {%- if profile.indicators.explanation %}
        <div class="sub-sub-part">
            <div class="sub-sub-part-title">
                Explanation
            </div>
            {{ indicator.explanation[language] }}
        </div>
        {%- endif %}
    </div>
    {%- endfor %}
    {%- endif %}
</div>
{%- endif %}