{% if profile.references -%}
<div class="part">
    <div class="part-title">
        references
    </div>
    {%- if norm.references %}
    {%- for reference in norm.references %}
    <div class="sub-part">
        <div class="reference">
            {% if profile.references.name -%}
            {{ reference.name }}
            {%- endif -%}
            {%- if profile.references.name and profile.references.url and reference.url %} - {% endif -%}
            {%- if profile.references.url -%}
            {%- if reference.url -%}
            <a href="{{ reference.url }}">{{ reference.url }}</a>
            {%- endif -%}
            {%- endif %}
        </div>
        {%- if profile.references.notes %}
        {%- if reference.notes %}
        <ul>
            {%- for note in reference.notes %}
            <li>{{ note[language] }}</li>
            {%- endfor %}
        </ul>
        {%- endif %}
        {%- endif %}
    </div>
    {%- endfor %}
    {%- endif %}
</div>
{%- endif %}