<!-- standard elements -->
<style>
    table {
        border-collapse: collapse;
        border-spacing: 0px 6px;
        margin: 24px 0px;
    }
    th, td {
        vertical-align: top;
        padding: 4px;
    }
    ul {
        list-style-type: "- ";
    }
</style>
<!-- custom classes -->
<style>
    .driver-table {
        margin: 6px;
    }
    .blue-box {
        background-color: #DDE8F6;
        margin: 0px -1px;
        padding: 1px;
    }
    .norm-title {
        margin: 1em 0px;
        padding: 4px 6px;
        font-weight: bold;
        font-size: larger;
        color: white;
        background-color: #325899;
    }
    .norm-intro {
        font-style: italic;
    }
    .part {
        margin: 0px 6px;
    }
    .sub-part {
        margin: 1em 6px;
    }
    .sub-sub-part {
        margin: 1em 0px;
    }
    .part-title,
    .sub-part-title,
    .sub-sub-part-title {
        margin: 1em 0px;
        font-weight: bold;
    }
    td > .part-title,
    td > .sub-part-title,
    td > .sub-sub-part-title {
        margin: 0px;
    }
    .part-title {
        font-size: larger;
    }
    .sub-part-title {
        font-size: medium;
    }
    .sub-sub-part-title {
        font-size: medium;
        color: #2E5E7E;
    }
    .indicator-title {
        padding: 4px 6px;
        margin: 6px 0px;
        color: white;
        background-color: #325899;
    }
    .reference {
    }
    ul.driver-details {
        padding-left: 16px;
    }
</style>
<style>
    .footer {
        font-size: 50%;
        margin-top: 16px;
    }
</style>
